
.logo {
  height: 20rem;
}

body{
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/background.jpg);
  background-position: center;
  background-size: cover;
  margin:0;
  padding: 0;
  border: 0;
}

a{
  text-decoration: none;
  color: transparent;
}

/* Modificación CSS pagination */

.pagination > li > a
{
  background-color: transparent;
  color: #fff;
  padding: 1rem 3rem;
  
}

.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    /* color: #000; */
    background-color: #999;
}

.pagination > .active > a
{
    color: #000;
    background-color: #999;
    border-color: #fff;
}

.pagination > .active > a:hover
{
    background-color: #999;
    border-color: 1px solid #fff;
}

.active>.page-link, .page-link.active {
  border-color: 1px solid #fff;
}

.pagination > .disabled > a
{
    color: #fff;
    background-color: transparent;
}

.pagination > .disabled > a:hover
{
    background-color: #999;
}

.ocultar {
    display: none;
}
 
.mostrar {
    display: block;
}